should_launch_new_window 1
startup_commands              toggle_custom_color
custom_background_color       {{colors.background.dark.red}} {{colors.background.dark.green}} {{colors.background.dark.blue}}
custom_text_color             {{colors.on_surface.dark.red}} {{colors.on_surface.dark.green}} {{colors.on_surface.dark.blue}}
statusbar_bg                  {{colors.surface.dark.red}} {{colors.surface.dark.green}} {{colors.surface.dark.blue}}
ui_background_color           {{colors.surface.dark.red}} {{colors.surface.dark.green}} {{colors.surface.dark.blue}}
background_color              {{colors.background.dark.red}} {{colors.surface.dark.green}} {{colors.surface.dark.blue}}
dark_mode_background_color              {{colors.background.dark.red}} {{colors.surface.dark.green}} {{colors.surface.dark.blue}}

